/*directory


global

1. adcontainer
2. carousel
3. contact
4. container
5. FAQ
6. footer
7. header
8. masalah
9. perkhidmatan
10. subscribe
11. ubat


*/

/*-----------------------GLOBAL------------------------------*/
* {
	font-family: Arial, Helvetica, sans-serif;
	color: #3C3C3C;
}

a {
	/*remove anchor tag preset style*/
	text-decoration: none;
	text-align: center;
}

body,
html {
	margin: 0;
	padding: 0;
	text-align: justify;
}

button,
button:active,
button:focus {
	/*remove button preset style*/
	border: none;
	box-shadow: none;
}

.btn {
	background-color: red;
	color: white;
	padding: 10px 40px;
	border-radius: 6px;
	text-align: center;
	align-content: center;
}

/*-----------------------1. AD CONTAINER------------------------------*/
.ads_containers{
	height: 192px;
	width: 100%;
	background: #F5E6B3;
}
.ads_containers h3{
	color:#3C3C3C;
	
}
.ads_containers p{
	color:#767676;
	
}
.ads_containers-textarea{
	right:20%;
	text-align: left;
	margin-left:40%;
	padding-top:5%;
}
.ads_containers .ads_picture{
	background-image: url('../img/mon.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	height: 100%;
	width:356px;
}

.ads_picture p{
	margin: 20px;
	color:white;
	font-weight:600;
	font-size: 4em;
	text-align: center;
	position:relative;
	}
.ads_picture span{
	font-size: 20px;
	color: white;
	position: absolute;
}
/*-----------------------2. CAROUSEL------------------------------*/
.carousel {
	background-image: url(../img/AdobeStock_223724093.png);
	background-size: cover;
	height: 500px;
	background-position: center;
}

.carousel h1 {
	color: white;
	position: absolute;
	bottom: 45%;
	padding-left: 200px;
	font-size: 3em;
	width: 50%;
	text-align: left;
	text-shadow: 0px 3px 6px #000000;
}

.carousel h2 {
	color: white;
	position: absolute;
	bottom: 30%;
	padding-left: 200px;
	font-size: 1.4em;
	width: 50%;
	text-align: left;
	text-shadow: 0px 3px 6px #000000;
}

/*-----------------------3. CONTACT------------------------------*/
.contact {
	background-color: #EE7129;
	color: white;
	padding: 20px 10px 20px 10px;
}

.contact-details {
	font-size: 14px;
	color: white;
}

.contact-email {
	border-left: 1px white solid;
	display: inline-block;
	padding-left: 5%;

}

.contact-logo {
	position: absolute;
	left: 320px;
	top: 70px;
	height: 20px;
	width: auto;
}

.contact-phone {
	margin-left: 10%;
	margin-right: 5%;
	display: inline-block;
}

.contact-title {
	font-size: 16px;
	color: white;
}

/*-----------------------4. CONTAINER------------------------------*/
.container h2 {
	text-align: center;
	margin-top: 35px;
}



/*-----------------------5. FAQ------------------------------*/

.faq-answers {
	font-size: 0.83em;
	color: #3C3C3C;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 3%;
}

.faq-container {
	margin-bottom: 7%;
}

.faq-questions {
	font-size: 1em;
	color: rgba(238, 113, 41, 1);
	font-weight: bolder;
	margin-bottom: 0px;
}

/*-----------------------6. FOOTER------------------------------*/
footer {
	float: clear;
	background-color: #EE7129;
	padding: 2%;
	text-align: right;
}

footer a {
	display: inline-block;
	margin-left: 2%;
	color: white;
}

/*-----------------------7. HEADER------------------------------*/
.left {
	padding: 20px;
	text-align: left;
	padding-left: 50px;
}

.right {
	padding: 20px;
	text-align: right;
	padding-right: 50px;
	margin-left: 2%;
}

/*-----------------------8. MASALAH------------------------------*/


.masalah-container .row i {
	background-color: orangered;
	height: 40px;
	font-size: 40px;
	border-radius: 4px;
	padding;
	5px;
}

.masalah-container .masalah-title {
	font-weight: bolder;
	font-size: 1em;
	margin-bottom: 5px;
	padding-top: 0;
	margin-top: 0;
}

.masalah-list {
	padding-top: 5px;
	margin-top: 0;
}

/*-----------------------9. PERKHIDMATAN------------------------------*/
.perkhidmatan-container {
	min-height: 350px;
	border: 1px #E8E5E3 solid;
	margin: 50px;
	padding: 0px;
}

.perkhidmatan-container .btn {
	position: absolute;
	bottom: 5%;
}

.perkhidmatan-container .text-area {
	padding: 10px;
	font-size: 0.8em;
}

/*-----------------------10. SUBSCRIBE------------------------------*/
/*-----------------------11. UBAT------------------------------*/
.price {
	/*cant align this*/
	
	text-align: center;
	font: 1em Arial, Helvetica, sans-serif;
	font-weight: 900;
	color: #ed1c23;
}

#ubat {
	border-left: 1px #E8E5E3 solid;
}



.ubat-container {
	border: 1px #E8E5E3 solid;
	/*cant set margin */
	
}

.ubat-container img{
	height: 100px;
	width: auto;
	margin: 20px;
}
.ubat-wrapper {
	text-align: center;
	padding-left: 10px;
	margin: auto;
}

.ubat-wrapper p {
	text-align: left;
}